div {
    color: blue;
    background-color: aqua;
}
/* . means class and  is used to target a class.  */
.red {
    color: red;
    background-color: chartreuse;
}
/* # means id and is used to target id */
#green {
    color: green;
    background-color: dodgerblue;
}
/* Descendent selector */
div p {
    color: black;
    background-color: olive;
}
/* Child selector */
div > p {
    color: brown;
    background-color: chartreuse;
}
/* Universal selector */
* {
    padding: 0%;
    margin: 0%;
}
/* Pseudo selectors */
a:visited {
    color: brown;
}
a:link {
    color: darkgreen;
}
a:active{
    background-color: blueviolet;
}
a:hover {
    background-color: chartreuse;
    color: teal;
}
/* wherever p is the first child, the style will apply.. it is still a pseudo selector */
/* p:first-child {                 
    background-color: dodgerblue;
} */
