@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: overline;
}

p {
  font-family: "Poppins", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  text-decoration: underline;
  color: red;
  font-size: 36px;
  font-weight: 900;

  line-height: normal;
}

#para {
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
}
