body {
    background-color: darkcyan;
}

h2 {
    color: yellow;
    background-color: red;
}

div {
    color: brown;
    background-color: aqua;
}

p {
    color: blue;
    background-color: chartreuse;
}
